<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socially">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Socially">
        <activity
            android:name=".EditCommentActivity"
            android:exported="false" />
        <activity
            android:name=".GroupCreateActivity"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="false"
            android:theme="@style/Theme.Socially.whiteActionBar" />
        <activity
            android:name=".GroupChatsActivity"
            android:exported="false" />

        <activity
            android:name=".EditPostActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Socially.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.ChatlistActivity"
            android:exported="false"
            android:theme="@style/Theme.Socially.whiteActionBar" />
        <activity
            android:name=".CreatePostActivity"
            android:exported="false"
            android:theme="@style/Theme.Socially.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OtherUserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Socially.NoActionBar" />
        <activity
            android:name=".UsersActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Socially.NoActionBar" />
        <activity
            android:name=".RegisterDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetStartedActivity"
            android:exported="false"
            android:theme="@style/Theme.Socially.NoActionBar" />
        <activity
            android:name=".SlashScreenThreeActivity"
            android:exported="false"
            android:theme="@style/Theme.Socially.NoActionBar" />
        <activity
            android:name=".SlashScreenTwoActivity"
            android:exported="false"
            android:theme="@style/Theme.Socially.NoActionBar" />
        <activity
            android:name=".SlashScreenOneActivity"
            android:exported="false"
            android:theme="@style/Theme.Socially.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Socially.whiteActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".notifications.FirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>